<?xml version='1.0' encoding='utf-8'?>

<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <!-- Database connection settings -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/user_schema</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">SP25@hit</property>

        <!-- Hibernate 6 can infer dialect, but being explicit is fine -->
        <!--        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Entity mapping -->
        <mapping class="Recruiter"/>
        <mapping class="Job"/>
        <mapping class="Skill"/>

    </session-factory>
</hibernate-configuration>
